@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../public/background-2.jpg');
  background-size:cover;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  color:black;
  font-size:.95rem;
}